<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="nav flex-column bg-light w-25 justify-content-between">
    <div>
      <div class="logo"><a href="./index.html"></a></div>
      <a class="nav-link link-dark" aria-current="page" href="#">
        <span class="material-icons align-middle me-3">
          assessment
        </span>
        Dashboard
      </a>
      <a class="nav-link link-dark" href="#">
        <span class="material-icons align-middle me-3">
          question_answer
        </span>
        Question
      </a>
      <a class="nav-link link-success active" href="#">
        <span class="material-icons align-middle me-3">
          assignment
        </span>
        Assignment
      </a>
      <a class="nav-link link-dark" href="#">
        <span class="material-icons align-middle me-3">
          video_library
        </span>
        Course
      </a>
      <a class="nav-link link-dark" href="#">
        <span class="material-icons align-middle me-3">
          supervisor_account
        </span>
        Admin
      </a>
      <a class="nav-link link-dark" href="#">
        <span class="material-icons align-middle me-3">
          settings
        </span>
        Settings
      </a>
    </div>
    <div class="user d-flex">
      <div class="user-img bg-uesr2 me-2"></div>
      <div class="user-info">
        <p class="text-dark fw-bold line-light-md mb-2">Andy Chen</p>
        <p class="text-secondary font-size-sm line-light-md">andy0401@mail.com</p>
      </div>
    </div>
  </nav>

  <%- contents %>


  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>